<ion-view view-title="Case Registered" cache-view="true" enable-menu-with-back-views="false">
    <ion-nav-buttons side="left">
      <button ng-controller="utils" class="button icon ion-android-arrow-back" on-tap="go('home')"></button>
    </ion-nav-buttons>

	<ion-content overflow-scroll="true" animation="slide-left-right">
        
        <div class="card" ng-repeat="v in vehicle">
           
          <center>
              <p>VEHICLE NO: {{v.vehicleNumber}}</p>
              <p>DRIVER NAME: {{v.driverName}}</p>

          </center>
          <a href="tel: v `.driverContactNumber" class="button button-block button-balanced">
              CONTACT DRIVER
          </a>
        </div>


	</ion-content> 

</ion-view>