<ion-view view-title="Contact Us" cache-view="true" enable-menu-with-back-views="false">
   <ion-nav-buttons side="left">
      <button ng-controller="utils" on-tap="go('back')" class="button icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content class="contact" overflow-scroll="true" animation="slide-left-right" ng-controller="utils">
    	<center>
    		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62193.60268848606!2d80.19315450583495!3d13.029292802046266!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfd09826e8da44e0a!2sBlue+Cross+Of+India!5e0!3m2!1sen!2sin!4v1452683721347" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    		<i class="ion ion-android-call" >044-2230 0655 / 2230 0666 / 2235 4959</i>	
    	</center>
    </ion-content>
</ion-view>
