<ion-view view-title="Donate to BCI" cache-view="true" enable-menu-with-back-views="false">
   <ion-nav-buttons side="left">
      <button ng-controller="utils" on-tap="go('home')" class="button icon ion-android-arrow-back"></button>
    </ion-nav-buttons>

    <ion-content class="animate-fade-slide-in donate-bci">
    	<div class="card">
    		<div class="item item-divider">
		    	Donate Online
		 	</div>
		 	<div class="item">
		 		<div class="list">
		 			<div class="row">
		    			<button class="button button-block button-balanced">
						  Feed all animals for a day - Rs.11000
						</button>
		    		</div>
		    		<div class="row">
		    			<button class="button button-block button-balanced">
						  Sponsor ABC for a Cat - Rs.1000
						</button>
		    		</div>
		    		<div class="row">
		    			<button class="button button-block button-balanced">
						  Sponsor ABC for a Dog - Rs.1000
						</button>
		    		</div>
		    		<div class="row">
		    			<button class="button button-block button-balanced">
						  Vaccinate a Puppy - Rs.900
						</button>
		    		</div>
		    		<div class="row">
		    			<button class="button button-block button-balanced">
						  Feed a cat for a month - Rs.300
						</button>
		    		</div>
		    		<div class="row">
		    			<button class="button button-block button-balanced">
						  Feed a dog for a month - Rs.300
						</button>
		    		</div>
		    	</div>
		 	</div>
    	</div>
    	
		<!-- For Contributions from India Card -->
		<div class="card">
		  <div class="item item-divider">
		    For Contributions from India
		  </div>
		  <div class="item item-text-wrap">
		  	<div class="row">
		  		<div class="col">
		  			<p>Account Name:</p>
		  		</div>
		  		<div class="col">
		  			<p>Blue Cross of India</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>Account Type:</p>
		  		</div>
		  		<div class="col">
		  			<p>Savings Account</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>Account Number:</p>
		  		</div>
		  		<div class="col">
		  			<p>419 318 361</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>Bank Name:</p>
		  		</div>
		  		<div class="col">
		  			<p>Indian Bank</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>Bank Branch:</p>
		  		</div>
		  		<div class="col">
		  			<p>Guindy</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>RTGS / IFSC Code:</p>
		  		</div>
		  		<div class="col">
		  			<p>IDIB000G020</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>MICR No:</p>
		  		</div>
		  		<div class="col">
		  			<p>600019019</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>Bank Address:</p>
		  		</div>
		  		<div class="col">
		  			<p>P.B.No. 3171 Sidco Building,
		  			G.S.T. Road, Guindy, Chennai-600 032</p>
		  		</div>
		  	</div>
		  </div>
		</div>

		<!-- For Contributions outside India Card -->
		<div class="card">
		  <div class="item item-divider">
		    For Contributions outside India
		  </div>
		  <div class="item item-text-wrap">
		  	<div class="row">
		  		<div class="col">
		  			<p>Account Name:</p>
		  		</div>
		  		<div class="col">
		  			<p>Blue Cross of India</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>Account Type:</p>
		  		</div>
		  		<div class="col">
		  			<p>Savings Account</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>Account Number:</p>
		  		</div>
		  		<div class="col">
		  			<p>419 318 316</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>Bank Name:</p>
		  		</div>
		  		<div class="col">
		  			<p>Indian Bank</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>Bank Branch:</p>
		  		</div>
		  		<div class="col">
		  			<p>Guindy</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>RTGS / IFSC Code:</p>
		  		</div>
		  		<div class="col">
		  			<p>IDIB000G020</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>International Swift Code:</p>
		  		</div>
		  		<div class="col">
		  			<p>IDIBINBBGDY</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>MICR No:</p>
		  		</div>
		  		<div class="col">
		  			<p>600019019</p>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col">
		  			<p>Bank Address:</p>
		  		</div>
		  		<div class="col">
		  			<p>P.B.No. 3171 Sidco Building,
		  			G.S.T. Road, Guindy, Chennai-600 032</p>
		  		</div>
		  	</div>
		  </div>
		</div>

	</ion-content>

</ion-view>
           