<ion-view >

<!--<button class="button button-block button-royal mdl-js-button" style="margin-top: 0px;" ng-controller="utils" ng-click="go('/home')">
<i class="ion-android-arrow-back" style="margin-right: 310px;"></i>
</button> -->

        <ion-nav-buttons side="left">
        <button  class="button icon ion-android-arrow-back"></button>
        </ion-nav-buttons>
 
  <ion-content class="has-header "  style="padding: 0 !important" >
     
<!-- Logo 
<div class="splash-logo">
<img src="img/login_icon.png" alt="PiQube" style="width: 75px">
</div>
end Logo -->


<!--<div class="list padding-horizontal" style="margin-top: 20px;">
<label class="item">
<!-- <span class="label input-light">Email address</span> 
<input type="email" class="" placeholder="Enter your Email" >
</label>
<label class="item">
<span  class="label input-light">Password</span> 
<input type="password" class="" placeholder="Enter your Password">
</label>
</div>
<span style="margin-left: 210px !important;color: gray; border-bottom: 1px solid;border-bottom-color: #6D5C5C;">forgot password</span>
<button class="button button-block button-royal button-stable item login-btn" style="margin-top: 20px;">
Login
</button> -->

            <button class="button" style="top: 180px;width: 88%;margin-left: 20px; margin-bottom:10px;background-color: #335191;color: white;">
              <i class="ion-social-facebook" style="margin-right: 30px;font-size:25px;"> </i>
              Sign in with facebook
            </button>
            <button class="button" style="top: 180px;width: 88%;margin-left: 20px;background-color: #D74635;color: white;">
              <i class="ion-social-google" style="margin-right: 29px; font-size:25px;"> </i>
              <span style="margin-right: 15px;">
                Sign in with google
              </span>
            </button>

          

  </ion-content>
</ion-view>